<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Stock</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/index.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/bootstrap.min.css') }}">
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Simons Watchlist</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="supported.html">Supported websites</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="delete.html">Delete account<span class="sr-only">(current)</span></a>
      </li>

    </ul>
  </div>
</nav>
                <div class="container" style="max-width: 700px";>
            <div class="row">
                <div class="col" style="margin-top: 100px">
                    <h3>Remove watchlist</h3>
                <div style="margin-top: 20px;margin-bottom: 20px;">
                    <form method="post" >
                        <div class="form-group">Enter your email address. The address will not be shared<input class="form-control" type="text" id="mail2" name="mail2" placeholder="Email-address" required="true"></div>
                        <div class="form-group">Enter your code<input class="form-control" type="text" id="code" name="code" placeholder="Code" required="true"></div>
                        <div class="form-group"><button class="btn btn-danger btn-block" type="submit2" name="submit2" value="submit">REMOVE</button></div>
                    </form>
                    <br>
                    <div class="row"><b> <h4>{{user_start}}</h4></b></div>

</div></div>
            </div>
                </div>
</body>

</html>